@page "/"

<PageTitle>Index</PageTitle>

<body>
    <div class="container">
        <h1 class="text-dark">Form Recognition Software Documentation</h1>
        <p>This <span class="fw-bold">demo software</span> is designed to recognize and extract information from various form documents. It can handle multiple file formats, and display the results in the interface.</p>
    
        <h2 class="text-secondary">How to use the software</h2>
        <p>To use the software, follow these steps:</p>
        <ol>
            <li>On the left side of the screen, select the type of form you want to recognize from the menu bar. For example, if you want to recognize an employee form, click on “Employee Form Demo”.</li>
            <li>Then click on the “Select File” button to upload the file you want to recognize. You can upload files in different formats, such as PDF, JPG and PNG.</li>
            <li>The software will process the file and display the recognized form in the middle of the screen. You can scroll up and down to view the form.</li>
            <li>On the right side of the screen, you can see another document related to the form. For example, if you selected an employee form, you can see a letter from the employer. You can also scroll up and down to view the document.</li>
            <li>Also you can export the data to excel. Just press the button "Export to Excel" and the file will be downloaded</li>
        </ol>
        
        <p class="card p-2 text-white bg-secondary">To improve the accuracy and speed of the recognition, make sure the files you upload are clear, legible, and well-aligned.</p>
    </div>
</body>




